extends layout

mixin display(vietNam)
    each item in vietNam
        .main-product.col-12.col-sm-6.col-md-4.col-lg-3(data-aos="fade-up" data-aos-duration="900")
            .box-product
                .img-product(data-aos="fade-down" data-aos-easing="linear" data-aos-duration="600")
                    img.img-prd(data-toggle='tooltip' data-placement='right' title=item.mota)(src=item.imgsp) 
                .content-product
                    h5.title-product=item.titlesp
                    .content-product-details
                        .status 
                            b Size : 
                                span.si=item.sizesp
                        .price
                            span.money=item.pricesp
                        button.btn.btn-cart(type='button') Add to cart
            
block content
    .image-prd
        h2 Chào mừng bạn đến với áo bóng đá Việt Nam
    //-------------- nội dung ------------------
    .Products
        
        .row
            +display(vietNam)
    
    //--------------- footer -----------------------
    include includes/footer
    